@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
  background: linear-gradient(to right, #38ef7d, #11998e);

  color: #fff;
  font-family: "poppins", sans-serif;
  min-height: 100vh;
}

header {
  font-size: 1.5rem;
  border: 1px solid rgb(205, 229, 201);
}

header,
form {
  min-height: 20vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

form input,
form button {
  padding: 0.5rem;
  font-size: 2rem;
  border: none;
  background: white;
}
form button {
  color: #69e959;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}
input:focus {
  outline: none;
}
form button:hover {
  background-color: #1cee09;
  color: #fff;
}

.todo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.todo-list {
  min-width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.5s ease;
}

.todo li {
  flex: 1;
}

.trash-btn,
.complete-btn {
  background-color: #15f123;
  background-image: linear-gradient(45deg, #15f123 0%, #72f968 100%);

  color: #fff;
  border: none;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
}

.complete-btn {
  background-color: #f79862;
  background-image: linear-gradient(62deg, #f79862 0%, #f7c34c 100%);
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(50deg);
  opacity: 0;
}

@media only screen and (max-width: 600px) {
  body {
    background-color: rgb(82, 252, 82);
  }
  .todo-item {
    padding: 0 90px;
  }
}

@media only screen and (max-width: 968px) {
  .todo-item {
    padding: 0 80px;
  }
}
